body {
	font-size: 16px;
	background-image: url("space.jpg");;
	font-family: helvetica;

}

h1 {
	margin-top: 40px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: white;
	font-size: 50px;
}

.panel {

border: none;
margin: 30px 100px;
background: #f1eef3;

}

.panel-heading {
	background-color: #626988 !important;
	color: white !important;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 25px;
}

form {
	margin: 15px;
}

table {
	width: 100%
    margin: 0;
  
}

th,
td {
	padding-left: 15px !important;

}


tr:hover {
	background-color: #dce1f7;
}

.glyphicon {
	padding-top: 5px;
}

#submit-button {
	margin-bottom: 10px;
}

button,
#submit-button {
	background-color: #142d94;
	color: white;
}

button:hover,
#submit-button:hover {
	background-color: #e0d8f1;
}

.form-control:focus {
	border-color: #341b5a;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(119, 119, 119, 0.5);
}


