body {
	font-size: 16px;
	background-image: url("honey_im_subtle.png");;
	font-family: helvetica;
}

h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
}

.panel {
	
margin: 30px 100px;

}

.panel-heading {
	background-color: #61d8dd !important;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 25px;
}

form {
	margin: 15px;
}

table {
	width: 98.5% !important;
    margin-left: 10px;
  
 
}

